{% extends 'users/UserBase.html'%}
{% load static %}
{%block contents%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bone Deformity Identification</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>
<body>

 <section id="intro">

    <div class="intro-text">
      <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <!-- <i><img src="{%static 'images/title.png'%}" alt="#"/></i> -->
                        <h2>Upload an Image</h2>
                        <span>
                             <form action="{%url 'Upload' %}" method="post" enctype="multipart/form-data">
                                 <center>
                                  {%csrf_token%} 
                                     <table>
                                         <tr>
                                             <td>Select  Image</td>
                                             <td> <input type="file" id="contact_subject" name="file" class="form-control"  placeholder="Select an Image" required/></td>
                                         </tr>
                                         <tr>
                                             <td></td>
                                             <td><button type="submit" id="contact_subject" name="Submit" class="btn-get-started scrollto">
                                                  Submit
                                              </button></td>
                                         </tr>
                                     </table>
                                  </center>
                        </form>
                            </p>
                            <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
                        <!-- <pre>
                   <h2>Result is <font color="RED">{{results}}</font> </h2>
                    <img src="{{path}}" width="450" height="380">
                </pre> -->
                       </span>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    </div>
  </section>
</body>
</html>

{%endblock%}